html,
body{
	margin: 0;
	padding: 0;
}

body{
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 2em;
	background: #eeeeee;
	color: #333333;
	width: 520px;
	margin: 0 auto;
	/*抗字体锯齿，针对MAC OS*/
	-webkit-font-smoothing: antialiased;
}

#todoapp{
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 0 0 5px 5px;
}

#todoapp h1{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding: 0 0 10 0;
}

#todoapp input[type="text"]{
	width: 466px;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	/*去掉搜索框获得焦点时的boreder*/
	outline: none; 
	padding: 6px;
	border: 1px solid #999999; 
}

/* 修改输入框placeholder文字默认为斜体 */
#todoapp input::-webkit-input-placeholder{
	font-style: italic;
}

#main{
	display: none;
}

#todo-list{
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#todoapp footer{
	display: none;
	margin: 0 -20px -20px -20px;
}